


.howitworks-block__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 66px;
}
.howitworks-block__description {
    h6{
        color: rgb(255, 92, 0);
        font-family: Oswald;
        font-size: 12px;
        font-weight: 400;
        line-height: 50px;
        letter-spacing: 5%;
        text-align: left;
    }
    h2{
        @extend %h2styles;
        margin-bottom: 46px;
    }
    .howitworks-block__description-title{
        display: flex;
        max-width: 435px;
        align-items: center;
        flex-direction: row;
        margin-bottom: 22px;
        padding: 14px;
        border-radius: 8px;
        background: rgb(245, 247, 255);
        position: relative;
        .title-a{
            background: rgb(243, 224, 255);
            color: rgb(148, 68, 201);
            @extend %titleshiw;
        }
        h5{
            font-size: 16px;
            font-weight: 600;
            // margin-right: 204px;
        }
        .title-b{
            background: rgb(231, 233, 254);
            color: rgb(98, 111, 255);
            @extend %titleshiw;
        }
        .title-c{
            background: rgb(255, 222, 204);
            color: rgb(255, 92, 0);
            @extend %titleshiw;
        }
    }
    img{
        position: absolute;
        right: 24px;
        &:hover{
            cursor: pointer;
        }
    }
}
iframe{
    width: 635px;
    height: 433px;
    border-radius: 20px;
}