@import "variables.scss";



.header{
    width: 100%;
    background-color: #F5F7FF;
    .header__container{
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-top: 23px;
    }
    .header__logo{
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 4px;
    }
    .menu{
        margin-left: 56px;
        margin-right: 67px;
        .menu__list{
            display: flex;
            gap: 20px;
           .menu__item > a{
            color: #272323;
            line-height: 24px;
            letter-spacing: 2%;
            text-align: center;
            text-decoration: none;
            &:hover{
               color: $ahover;
            }
           } 
        }
    }
    &__input{
        position: relative;
    }
    &__input > input{
        position: relative;
        width: 307px;
        height: 35px;
        border-radius: 50px;
        background: rgb(255, 255, 255);
        border: none;
        padding-left: 19px;
        &::placeholder{
            line-height: 62px;
            letter-spacing: 2%;
        }
    }
    &__input > img {
        position: absolute;
        right: 13px;
        top: 12px;
    }
    &__registration {
        display: flex;
        gap: 5px;
        margin-left: 26px;
        h6 > a{
            color: #272323;
            &:hover{
                color: #4238AF;
            }
        }
    }
}