.page__main {
  width: 100%;
  background-color: #F5F7FF;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-block__description h1 {
  font-family: Prompt;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 7%;
  text-align: left;
}