.page__main {
  width: 100%;
  background-color: #F5F7FF;
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}