html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, a {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
}

.pricing-block__container h2, .comment-block__container h2, .jobs-block__container h2, .whychooseus-block__container h2, .howitworks-block__description h2 {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: left;
}

.howitworks-block__description .howitworks-block__description-title .title-c, .howitworks-block__description .howitworks-block__description-title .title-b, .howitworks-block__description .howitworks-block__description-title .title-a {
  border-radius: 6px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2%;
  text-align: left;
  padding: 7px 11px 6px 10px;
  margin-right: 15px;
}

.pricing-block__container > p, .comment-block__container p, .jobs-block__container > p, .whychooseus-block__container .whychooseus-block__cards-block .whychooseus-block__cards-block-card p, .whychooseus-block__container > p {
  color: rgb(168, 168, 168);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  max-width: 543px;
  margin-top: 20px;
}

.header {
  width: 100%;
  background-color: #F5F7FF;
}
.header .header__container {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
}
.header .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header .menu {
  margin-left: 56px;
  margin-right: 67px;
}
.header .menu .menu__list {
  display: flex;
  gap: 20px;
}
.header .menu .menu__list .menu__item > a {
  color: #272323;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  text-decoration: none;
}
.header .menu .menu__list .menu__item > a:hover {
  color: #4238AF;
}
.header__input {
  position: relative;
}
.header__input > input {
  position: relative;
  width: 307px;
  height: 35px;
  border-radius: 50px;
  background: rgb(255, 255, 255);
  border: none;
  padding-left: 19px;
}
.header__input > input::-moz-placeholder {
  line-height: 62px;
  letter-spacing: 2%;
}
.header__input > input::placeholder {
  line-height: 62px;
  letter-spacing: 2%;
}
.header__input > img {
  position: absolute;
  right: 13px;
  top: 12px;
}
.header__registration {
  display: flex;
  gap: 5px;
  margin-left: 26px;
}
.header__registration h6 > a {
  color: #272323;
}
.header__registration h6 > a:hover {
  color: #4238AF;
}

.pricing-block__container h2, .comment-block__container h2, .jobs-block__container h2, .whychooseus-block__container h2, .howitworks-block__description h2 {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: left;
}

.howitworks-block__description .howitworks-block__description-title .title-c, .howitworks-block__description .howitworks-block__description-title .title-b, .howitworks-block__description .howitworks-block__description-title .title-a {
  border-radius: 6px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2%;
  text-align: left;
  padding: 7px 11px 6px 10px;
  margin-right: 15px;
}

.pricing-block__container > p, .comment-block__container p, .jobs-block__container > p, .whychooseus-block__container .whychooseus-block__cards-block .whychooseus-block__cards-block-card p, .whychooseus-block__container > p {
  color: rgb(168, 168, 168);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  max-width: 543px;
  margin-top: 20px;
}

.page__main {
  width: 100%;
  background-color: #F5F7FF;
}

.main-block__container {
  display: flex;
  flex-direction: row;
}

.main-block__description {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}
.main-block__description h1 {
  font-family: Prompt;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 7%;
  text-align: left;
}
.main-block__description p {
  line-height: 24px;
  margin-top: 18px;
}
.main-block__description .main-block__description-btnblock {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 34px;
}
.main-block__description .main-block__description-btnblock > a {
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 2%;
  text-align: center;
  padding: 12px 21px;
}
.main-block__description .main-block__description-btnblock .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.main-block__image {
  background-color: #F5F7FF;
  margin-top: 55px;
}

.brands__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.howitworks-block__container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 66px;
}

.howitworks-block__description h6 {
  color: rgb(255, 92, 0);
  font-family: Oswald;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: left;
}
.howitworks-block__description h2 {
  margin-bottom: 46px;
}
.howitworks-block__description .howitworks-block__description-title {
  display: flex;
  max-width: 435px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 22px;
  padding: 14px;
  border-radius: 8px;
  background: rgb(245, 247, 255);
  position: relative;
}
.howitworks-block__description .howitworks-block__description-title .title-a {
  background: rgb(243, 224, 255);
  color: rgb(148, 68, 201);
}
.howitworks-block__description .howitworks-block__description-title h5 {
  font-size: 16px;
  font-weight: 600;
}
.howitworks-block__description .howitworks-block__description-title .title-b {
  background: rgb(231, 233, 254);
  color: rgb(98, 111, 255);
}
.howitworks-block__description .howitworks-block__description-title .title-c {
  background: rgb(255, 222, 204);
  color: rgb(255, 92, 0);
}
.howitworks-block__description img {
  position: absolute;
  right: 24px;
}
.howitworks-block__description img:hover {
  cursor: pointer;
}

iframe {
  width: 635px;
  height: 433px;
  border-radius: 20px;
}

.whychooseus-block__container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}
.whychooseus-block__container .whychooseus-block__cards-block {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.whychooseus-block__container .whychooseus-block__cards-block .whychooseus-block__cards-block-card {
  display: flex;
  flex-direction: column;
  padding: 40px 37px 34px 37px;
  border-radius: 20px;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  background: rgb(255, 255, 255);
}
.whychooseus-block__container .whychooseus-block__cards-block .whychooseus-block__cards-block-card:hover {
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  background: rgb(249, 250, 255);
}
.whychooseus-block__container .whychooseus-block__cards-block .whychooseus-block__cards-block-card > h5 {
  color: rgb(50, 50, 50);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 15px;
}
.whychooseus-block__container .whychooseus-block__cards-block .whychooseus-block__cards-block-card p {
  max-width: 276px;
  line-height: 22px;
  text-align: left;
}

.jobs-block__container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}
.jobs-block__container .jobs-block__vacancies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 45px;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px 37px;
  border-radius: 20px;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  background: rgb(255, 255, 255);
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card:hover {
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  background: rgb(249, 250, 255);
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .specks {
  position: absolute;
  top: 40px;
  right: 37px;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card h5 {
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card h6 {
  color: rgb(66, 56, 175);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2%;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .jobs-block__vacancies-card-salary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .jobs-block__vacancies-card-salary p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  text-align: left;
  color: #323232;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .jobs-block__vacancies-card-salary p span {
  color: #898989;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .jobs-block__vacancies-card-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .jobs-block__vacancies-card-location p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 2%;
  text-align: left;
  margin-left: 10px;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card .jobs-block__vacancies-card-location p span {
  color: #898989;
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card a {
  color: rgb(56, 49, 139);
  font-size: 16px;
  font-weight: 400;
  padding: 15px 35px;
  letter-spacing: 2%;
  text-align: center;
  border-radius: 47px;
  background: rgba(56, 49, 139, 0.33);
}
.jobs-block__container .jobs-block__vacancies .jobs-block__vacancies-card a:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  color: rgb(255, 255, 255);
}
.jobs-block__container .jobs-block__btn {
  color: rgb(56, 49, 139);
  font-size: 16px;
  font-weight: 400;
  padding: 15px 35px;
  letter-spacing: 2%;
  text-align: center;
  border-radius: 47px;
  background: rgba(56, 49, 139, 0.33);
  margin-top: 91px;
}
.jobs-block__container .jobs-block__btn:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
  color: rgb(255, 255, 255);
}

.comment-block__container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  justify-content: center;
}
.comment-block__container .comment-block__item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 45px;
  position: relative;
}
.comment-block__container .comment-block__item h4 {
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: left;
}
.comment-block__container .comment-block__item h6 {
  color: rgb(134, 134, 134);
  line-height: 24px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 18px;
}
.comment-block__container .comment-block__item .comment-block__item-description img {
  position: absolute;
  right: 0;
}
.comment-block__container .comment-block__item .comment-block__item-description p {
  max-width: 730px;
  margin: 40px 0;
}

.statistics-block__container {
  margin-top: 120px;
}
.statistics-block__container .statistic-block__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistics-block__container .statistic-block__data span {
  color: rgb(88, 78, 198);
  font-family: Oswald;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5%;
  text-align: center;
}
.statistics-block__container .statistic-block__data p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
  margin-top: 14px;
}

.wrap {
  padding: 74px 134px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: rgb(206, 213, 244);
}

.pricing-block__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.pricing-block__container .pricing-block__cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 108px;
}
.pricing-block__container h5 {
  color: rgb(66, 56, 175);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: center;
}
.pricing-block__container h4 {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 45px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 7%;
  text-align: center;
}
.pricing-block__container h6 {
  color: rgb(138, 134, 185);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: center;
}
.pricing-block__container .pricing-block__cards-items {
  padding: 63px 66px;
  border-radius: 20px;
  box-shadow: -1px 1px 20px 0px rgba(128, 128, 128, 0.1);
  background: rgb(255, 255, 255);
}
.pricing-block__container .pricing-block__cards-items:hover {
  box-shadow: 0px 12px 30px 0px rgba(71, 71, 71, 0.15);
  background: rgb(249, 250, 255);
}
.pricing-block__container .pricing-block__cards-items > div {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 71px;
  align-items: center;
}
.pricing-block__container .pricing-block__cards-items > div .item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 11px;
}
.pricing-block__container .pricing-block__cards-items > div .item-wrapper img {
  width: 16px;
  height: 16px;
}
.pricing-block__container .pricing-block__cards-items > div .item-wrapper p {
  color: rgb(168, 168, 168);
  line-height: 24px;
  letter-spacing: 2%;
}
.pricing-block__container .pricing-block__cards-items > div .purchase-btn {
  display: inline-block;
  border-radius: 50px;
  background: rgb(189, 187, 217);
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 2%;
  text-align: center;
  padding: 13px 23px;
  margin-top: 47px;
}
.pricing-block__container .pricing-block__cards-items > div .purchase-btn:hover {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
}

.footer {
  border-radius: 30px 30px 0px 0px;
  background: rgb(219, 226, 255);
}

.footer__container {
  margin-top: 120px;
}
.footer__container .footer__list {
  display: flex;
  justify-content: space-between;
  max-width: 1085px;
}
.footer__container .footer__list .footer__list-column {
  display: flex;
  flex-direction: column;
}
.footer__container .footer__list .footer__list-column p:nth-child(1) {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 28px;
  cursor: pointer;
}
.footer__container .footer__list p {
  color: rgb(113, 113, 113);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer__container hr {
  margin-top: 77px;
  border: 2px solid rgb(98, 91, 174);
}
.footer__container .footer__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 13px 0;
}
.footer__container .footer__links .footer__links-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer__container .footer__links .footer__links-menu .footer__links-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 65px;
}
.footer__container .footer__links .footer__links-menu .footer__links-menu-list li {
  color: rgb(58, 46, 92);
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 2%;
  cursor: pointer;
}
.footer__container .footer__links .footer__links-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer__container .footer__links .footer__links-socials li {
  display: flex;
  width: 28.99px;
  height: 29.02px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}
.footer__container .footer__links .footer__links-socials li:nth-child(3) {
  background: rgba(66, 56, 175, 0.81);
}

@media (max-width: 1024px) {
  [class*=__container] {
    max-width: 960px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    max-width: 740px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  [class*=__container] .menu {
    margin-left: 20px;
    margin-right: 20px;
  }
  [class*=__container] .header__input input {
    width: 250px;
  }
  [class*=__container] .main-block__description {
    margin-top: 50px;
  }
  [class*=__container] .wrap {
    padding: 50px;
  }
  [class*=__container] .main-block__description {
    align-items: center;
  }
  [class*=__container] .main-block__description h1 {
    text-align: center;
  }
  [class*=__container] .jobs-block__btn {
    margin-top: 31px;
  }
}
@media (max-width: 320px) {
  [class*=__container] {
    max-width: 300px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  [class*=__container] h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
  }
  [class*=__container] .menu {
    margin-left: 0;
    margin-right: 0;
  }
  [class*=__container] .menu .menu__list {
    gap: 10px;
  }
  [class*=__container] .header__registration {
    margin-top: 20px;
  }
  [class*=__container] .main-block__description {
    margin-top: 50px;
  }
  [class*=__container] .main-block__description h1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
  }
  [class*=__container] .main-block__description .main-block__description-btnblock {
    gap: 10px;
  }
  [class*=__container] .main-block__image img {
    width: 300px;
    height: 280px;
  }
  [class*=__container] iframe {
    width: 300px;
    height: 180px;
    border-radius: 15px;
  }
  [class*=__container] .whychooseus-block__cards-block {
    flex-direction: column;
    gap: 20px;
  }
  [class*=__container] .whychooseus-block__cards-block .whychooseus-block__cards-block-card {
    padding: 15px;
  }
  [class*=__container] .whychooseus-block__cards-block .whychooseus-block__cards-block-card h5 {
    font-style: 18px;
  }
  [class*=__container] .jobs-block__vacancies {
    flex-direction: column;
    gap: 20px;
  }
  [class*=__container] .comment-block__item {
    flex-direction: column;
  }
  [class*=__container] .comment-block__item > img {
    width: 280px;
    height: 280px;
  }
  [class*=__container] .wrap {
    max-width: 250px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  [class*=__container] .pricing-block__cards {
    flex-direction: column;
  }
  [class*=__container] .pricing-block__cards-items {
    padding: 20px;
  }
  [class*=__container] .pricing-block__cards-items > div {
    margin-top: 10px;
  }
  [class*=__container] .pricing-block__cards-items > div .purchase-btn {
    margin-top: 10px;
  }
  [class*=__container] .footer__list {
    flex-wrap: wrap;
  }
  [class*=__container] .footer__list .footer__list-column p:nth-child(1) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
  }
  [class*=__container] .footer__list .footer__list-column p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
  }
  [class*=__container] hr {
    margin-top: 15px;
    border: 1px;
  }
  [class*=__container] .footer__links {
    flex-wrap: wrap;
    justify-content: center;
  }
  [class*=__container] .footer__links .footer__links-menu .footer__links-menu-list {
    gap: 5px;
  }
  [class*=__container] .footer__links .footer__links-menu .footer__links-menu-list li {
    font-size: 10px;
  }
  .footer__container {
    margin-top: 30px;
  }
  .statistics-block__container {
    margin-top: 80px;
  }
}/*# sourceMappingURL=main.css.map */: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 11px;
}
.pricing-block__container .pricing-block__cards-items > div .item-wrapper img {
  width: 16px;
  height: 16px;
}
.pricing-block__container .pricing-block__cards-items > div .item-wrapper p {
  color: rgb(168, 168, 168);
  line-height: 24px;
  letter-spacing: 2%;
}
.pricing-block__container .pricing-block__cards-items > div .purchase-btn {
  display: inline-block;
  border-radius: 50px;
  background: rgb(189, 187, 217);
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 2%;
  text-align: center;
  padding: 13px 23px;
  margin-top: 47px;
}
.pricing-block__container .pricing-block__cards-items > div .purchase-btn:hover {
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  background: rgb(84, 76, 172);
}

.footer {
  border-radius: 30px 30px 0px 0px;
  background: rgb(219, 226, 255);
}

.footer__container {
  margin-top: 120px;
}
.footer__container .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1085px;
}
.footer__container .footer__list .footer__list-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__container .footer__list .footer__list-column p:nth-child(1) {
  color: rgb(53, 52, 52);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 28px;
  cursor: pointer;
}
.footer__container .footer__list p {
  color: rgb(113, 113, 113);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2%;
  text-align: left;
  margin-bottom: 20px;
  cursor: pointer;
}
.footer__container hr {
  margin-top: 77px;
  border: 2px solid rgb(98, 91, 174);
}
.footer__container .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 13px 0;
}
.footer__container .footer__links .footer__links-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.footer__container .footer__links .footer__links-menu .footer__links-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 65px;
}
.footer__container .footer__links .footer__links-menu .footer__links-menu-list li {
  color: rgb(58, 46, 92);
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 2%;
  cursor: pointer;
}
.footer__container .footer__links .footer__links-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__container .footer__links .footer__links-socials li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28.99px;
  height: 29.02px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 9px;
}
.footer__container .footer__links .footer__links-socials li:nth-child(3) {
  background: rgba(66, 56, 175, 0.81);
}

@media (max-width: 1024px) {
  [class*=__container] {
    max-width: 960px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  [class*=__container] {
    max-width: 740px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
  [class*=__container] .menu {
    margin-left: 20px;
    margin-right: 20px;
  }
  [class*=__container] .header__input input {
    width: 250px;
  }
  [class*=__container] .main-block__description {
    margin-top: 50px;
  }
  [class*=__container] .wrap {
    padding: 50px;
  }
  [class*=__container] .main-block__description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  [class*=__container] .main-block__description h1 {
    text-align: center;
  }
  [class*=__container] .jobs-block__btn {
    margin-top: 31px;
  }
}
@media (max-width: 320px) {
  [class*=__container] {
    max-width: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  [class*=__container] h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
  }
  [class*=__container] .menu {
    margin-left: 0;
    margin-right: 0;
  }
  [class*=__container] .menu .menu__list {
    gap: 10px;
  }
  [class*=__container] .header__registration {
    margin-top: 20px;
  }
  [class*=__container] .main-block__description {
    margin-top: 50px;
  }
  [class*=__container] .main-block__description h1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
  }
  [class*=__container] .main-block__description .main-block__description-btnblock {
    gap: 10px;
  }
  [class*=__container] .main-block__image img {
    width: 300px;
    height: 280px;
  }
  [class*=__container] iframe {
    width: 300px;
    height: 180px;
    border-radius: 15px;
  }
  [class*=__container] .whychooseus-block__cards-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  [class*=__container] .whychooseus-block__cards-block .whychooseus-block__cards-block-card {
    padding: 15px;
  }
  [class*=__container] .whychooseus-block__cards-block .whychooseus-block__cards-block-card h5 {
    font-style: 18px;
  }
  [class*=__container] .jobs-block__vacancies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  [class*=__container] .comment-block__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  [class*=__container] .comment-block__item > img {
    width: 280px;
    height: 280px;
  }
  [class*=__container] .wrap {
    max-width: 250px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  [class*=__container] .pricing-block__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  [class*=__container] .pricing-block__cards-items {
    padding: 20px;
  }
  [class*=__container] .pricing-block__cards-items > div {
    margin-top: 10px;
  }
  [class*=__container] .pricing-block__cards-items > div .purchase-btn {
    margin-top: 10px;
  }
  [class*=__container] .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  [class*=__container] .footer__list .footer__list-column p:nth-child(1) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
  }
  [class*=__container] .footer__list .footer__list-column p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
  }
  [class*=__container] hr {
    margin-top: 15px;
    border: 1px;
  }
  [class*=__container] .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  [class*=__container] .footer__links .footer__links-menu .footer__links-menu-list {
    gap: 5px;
  }
  [class*=__container] .footer__links .footer__links-menu .footer__links-menu-list li {
    font-size: 10px;
  }
  .footer__container {
    margin-top: 30px;
  }
  .statistics-block__container {
    margin-top: 80px;
  }
}